/*	
*	################################################################################
*	
*	My Custom Style for KINGADMIN
*	---------------------------------------------------------------------
*
*	Version		1.0
*	Author		Your Name
*	
*	Override theme style or create your new styles. Direct change to main.css
*	is not recommended to avoid problems when theme updates arrived in the future
*	
*	################################################################################
*/

.top-content ul.quick-access > li .quick-access-item.bg-color-red {
  background-color: #D02A25;
}

.top-content ul.quick-access > li .quick-access-item.bg-color-light-green {
  background-color: #53D76A;
}

.select-control {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.select-control option{
	padding:6px 12px;
	border-right:1px solid #ccc;
}

label.error {
	font-size:11px;
	color:red;
	width: auto;
	display: inline;
}

input.error,select.error,textarea.error{
	border: 1px solid red;
}

textarea{
	width: 100% !important;
	border:1px solid #ccc;
}

.working{background:url('ajax-loader.gif') no-repeat right center;}
.btn{
	border-radius:5px;
}

.modal-content{
	border-radius:8px;
}



