/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2016, 8:57:44 AM
    Author     : AkirahCamp
*/
@media print{
    /*body{
        letter-spacing:normal;
        height: 99%;
    }*/
    .divider { 
        margin-left: -1.5em; margin-top: 0em; margin-bottom: -0.5em; border: 1px solid grey;
    }
    td, .ina{
        font-family: "Georgia", "Palatino", "Times New Roman", "Times";
    }
    h2 .eng{
        margin-top: -10px;
        padding-top:-10px;
    }
    .eng{
        /*font-family: "Georgia", "Palatino", "Times New Roman", "Times";*/
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-style: italic;
    }
    .eng2{
        /*font-family: "Georgia", "Palatino", "Times New Roman", "Times";*/
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-style: italic;
        margin-top: -2px;
    }
    
    p,label,td {
        font-size: 8pt;
        text-align: justify;
    }
    ol{
        margin-left:0px;
        padding-left: 20px;
    }
    li{
        font-family: "Georgia", "Palatino", "Times New Roman", "Times";
    }

    li.nostyle {
        list-style-type: none;
    }
}
@page {
    margin-top: 26mm;
    margin-left : 5mm;
    margin-right : 7mm;
    margin-bottom : 15mm;
}