/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2016, 8:57:44 AM
    Author     : AkirahCamp
*/
body{
    letter-spacing:normal;
    height: 99%;
    margin-top : 12mm !important;
    margin-left: 5mm;
    margin-right : 5mm;
    margin-bottom: 5mm;
}
.divider { 
    margin-left: -1.5em; margin-top: 0em; margin-bottom: 0em; border: 1px solid grey;
} 
h2.ina, h2.eng{
    font-size: 16px;
}
h2.eng2{
    font-size: 16px;
    margin-top: -4px;
}
td, .ina{
    font-family: "Georgia", "Palatino", "Times New Roman", "Times";
}

.eng{
    font-family: "Georgia", "Palatino", "Times New Roman", "Times";
    /*font-family: 'Lato', Calibri, Arial, sans-serif;*/
    font-style: italic;
}
.eng2{
    /*font-family: "Georgia", "Palatino", "Times New Roman", "Times";*/
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-style: italic;
    margin-top: -2px;
}

#content{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

p,label,td {
    font-size: 8pt;
    text-align: left;
}
ol{
    margin-left:0px;
    padding-left: 20px;
}

li{
    font-family: "Georgia", "Palatino", "Times New Roman", "Times";
}

li.nostyle {
    list-style-type: none;
}

@page {
    size: Legal landscape;
    /*margin: 5mm;*/
    line-height:normal;
    margin-top : 12mm !important;
    margin-left: 5mm;
    margin-right : 5mm;
    margin-bottom: 5mm;

}
